ThreeHoleGolf/GolfClient/bin/
ThreeHoleGolf/GolfLibrary/bin/
ThreeHoleGolf/GolfService/bin/
ThreeHoleGolf/GolfClient/obj/
ThreeHoleGolf/GolfLibrary/obj/
ThreeHoleGolf/GolfService/obj/
ThreeHoleGolf/*.v11.suo
*.cache
*.csproj
*.suo
*.v11.suo
*.dll
*.pdb
